<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlExMapper.HpConfigExMapper">

	<select id="getUseEduList" resultType="com.happy.entity.HpEducationEntity" >
		select * from hp_education where use_on=#{useOn};
	</select>
	
	<select id="getStoreList" resultType="com.happy.entity.HpCompanyStoreEntity" >
		
		SELECT cs.store_name,cs.contact_num,cs.store_addr,cs.store_pic FROM hp_company_store cs 
		<if test="isPage == 1">LIMIT #{currentResult},#{showCount}</if>
	</select>
	
	<select id="getStoreNum" resultType="int" >
		SELECT COUNT(*) FROM hp_company_store
	</select>
	
	<select id="getStoreIdByToken" resultType="Long" >
		SELECT cs.hp_company_store_id FROM hp_company_store cs WHERE cs.store_token=#{storeToken}
	</select>

	<select id="getAreaList" resultType="com.happy.service.config.data.AreaData" >
		<choose>
			<when test="provinceId !=null and provinceId !=0">
				SELECT aci.city_id areaId,aci.city_name areaName FROM hp_area_city aci WHERE aci.province_id=#{provinceId}
			</when>
			<when test="cityId !=null and cityId !=0">
				SELECT aco.county_id areaId,aco.county_name areaName FROM hp_area_county aco WHERE aco.city_id=#{cityId}
			</when>
			<otherwise>
				SELECT ap.province_id areaId,ap.province_name areaName FROM hp_area_province ap
			</otherwise>
		</choose>
	</select>

	<select id="getCompanyList" resultType="com.happy.service.company.data.HpCompanyExt" >
		SELECT c.hp_company_id,c.com_name FROM hp_company c
	</select>
	
	<select id="getCityNameByCountyId" resultType="String" >
		SELECT aci.city_name  
		FROM hp_area_city aci JOIN hp_area_county aco ON aci.city_id=aco.city_id 
		WHERE aco.county_id=#{countyId}
	</select>
</mapper>
