<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlExMapper.HpConfigExMapper">

	<select id="getUseEduList" resultType="com.happy.entity.HpEducationEntity" >
		select * from hp_education where use_on=#{useOn};
	</select>
	
	<select id="getStoreList" resultType="com.happy.entity.HpCompanyStoreEntity" >
		
		SELECT cs.store_name,cs.contact_num,cs.store_addr FROM hp_company_store cs 
		<if test="isPage == 1">LIMIT #{currentResult},#{showCount}</if>
	</select>
	
	<select id="getStoreNum" resultType="int" >
		SELECT COUNT(*) FROM hp_company_store
	</select>
	
	<select id="getStoreIdByToken" resultType="Long" >
		SELECT cs.hp_company_store_id FROM hp_company_store cs WHERE cs.store_token=#{storeToken}
	</select>

</mapper>
