<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlExMapper.HpDeliveryMapper">
    
	<select id="getDeliverylistPage" parameterType="com.happy.service.delivery.data.DeliverySearch" resultType="com.happy.service.delivery.data.DeliveryData" >
		SELECT u.user_name userName,u.real_name realName ,u.gender gender ,u.born_year,c.com_name,c.hp_company_id,p.pos_name,
			CASE WHEN u.gender = 1
	           		THEN 
		             	p.ret_man_money
	           		ELSE 
	           			p.ret_woman_money
	        END reMoney,
			pu.part_time,u.phone_no,u.hp_user_id,u.header_pic,pu.hp_position_ref_user_id,pu.option_person,pu.option_time,pu.work_on,
			CASE WHEN pu.option_person != null 
					THEN 1
					ELSE 0
			END contactStat
			
		from hp_position_ref_user pu
		left join hp_user u on pu.hp_user_id =u.hp_user_id
		left join hp_position p on	pu.hp_position_id =p.hp_position_id
		left join hp_company c on  p.hp_company_id =c.hp_company_id
		
		WHERE 1=1 
		<if test="userName !=null and userName !='' ">AND u.user_name LIKE CONCAT('%',#{userName},'%')</if>
		<if test="comName !=null and comName !='' ">AND c.com_name LIKE CONCAT('%',#{comName},'%')</if>
		<if test="posName !=null and posName !='' ">AND p.pos_name LIKE CONCAT('%',#{posName},'%')</if>
		<if test="startTime !=null and startTime !=0 ">AND pu.part_time &gt;=#{startTime}</if>
		<if test="endTime !=null and endTime !=0 ">AND pu.part_time &lt;=#{endTime}</if>
		<if test="realName !=null and realName !='' ">AND u.real_name LIKE CONCAT('%',#{realName},'%')</if>
		<if test="gender !=null and gender !='' ">AND u.gender = #{gender} </if>
		<if test="contactStat !=null and contactStat =='1'.toString() ">AND pu.option_person is not NULL  </if>
		<if test="contactStat !=null and contactStat =='2'.toString() ">AND pu.option_person is NULL  </if>
		ORDER BY part_time desc
		
	</select>	
	
	<select id="deliveryQueryUser" parameterType="long" resultType="com.happy.service.delivery.data.DeliveryDetail" >
		select u.* from hp_user u where u.hp_user_id = #{hpUserID}
	</select>
	
	<select id="getExperienceByUserId" parameterType="long" resultType="com.happy.entity.HpUserExpEntity" >
		select * from hp_user_exp where hp_user_resume_id = #{hpUserID}
	</select>
	
	<select id="getEducationByUserId" parameterType="long" resultType="com.happy.service.delivery.data.HpUserEducationExt" >
		select u.*,e.edu_name 
		from  hp_user_resume  r
		left join hp_user_education u on u.hp_user_resume_id = r.hp_user_resume_id
		left join hp_education e on r.hp_education_id =e.hp_education_id
		where r.hp_user_id = #{hpUserID}
	</select>
	
	<select id="getIntentionByUserId" parameterType="long" resultType="com.happy.service.delivery.data.IntentionExt" >
		select i.* ,s.lower_num,s.hight_num
		from hp_user_resume r
		left join hp_user_intention i on i.hp_user_resume_id = r.hp_user_resume_id
		left join hp_position_salary s on s.hp_position_salary_id = i.hp_position_salary_id
		where r.hp_user_id = #{hpUserID}
	</select>
	
	
	<select id="getLoginUser" parameterType="String"  resultType = "com.happy.service.salary.data.LoginUserMsg">
		select hp_user_id ,user_name, phone_no ,real_name
		from hp_user 
		where 1 =1 
		 	and user_token = #{userToken}
	</select>
	
</mapper>