<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlExMapper.HpPositionExMapper">
	
	<sql id="getIdBySid">(SELECT u.hp_user_id FROM hp_user u WHERE u.user_token=#{sid})</sql>
	
	<select id="getFrontPoslistPage" parameterType="com.happy.service.position.data.PositionSearch" resultType="com.happy.service.position.data.PositionData" >
		SELECT p.hp_position_id,p.hp_company_id,c.com_name,p.pos_name,ps.lower_num,ps.hight_num,aco.county_name,aci.city_name,
		p.group_on,p.start_time,p.end_time,p.hot_on,p.car_on,p.pos_nature,p.welfare_on,
		p.ret_on,p.ret_man_money,p.ret_woman_money,p.urgent_on,p.urgent_money,<include refid="selectRequireCol"></include>,
		p.three_money,p.five_money,
		(SELECT GROUP_CONCAT(pw.welfare_name) FROM hp_position_ref_welfare prw JOIN hp_position_welfare pw 
         WHERE prw.hp_position_id=p.hp_position_id AND prw.hp_position_welfare_id=pw.hp_position_welfare_id) welfareArr,
         (SELECT COUNT(pru.hp_position_ref_user_id) FROM hp_position_group pg JOIN hp_position_ref_user pru 
		WHERE pg.hp_position_id=p.hp_position_id AND p.group_on=1 AND pg.hp_position_group_id=pru.hp_position_group_id) groupSccNum
		<if test="sid !=null and sid != ''">
			,pru1.part_time,(pg.end_time-#{curTime}) groupLeftTime,u1.user_name leaderName,u1.header_pic leaderPic,
			(SELECT COUNT(*) FROM hp_position_ref_user pru2 WHERE pru2.hp_position_group_id=pg.hp_position_group_id ) groupPartNum
		</if>
		
		FROM hp_position p JOIN hp_company c ON p.hp_company_id=c.hp_company_id 
		JOIN hp_position_salary ps ON p.hp_position_salary_id=ps.hp_position_salary_id 
		JOIN hp_area_county aco ON p.county_id=aco.county_id 
		JOIN hp_area_city aci ON aco.city_id=aci.city_id 
		LEFT JOIN hp_position_type pt ON p.hp_position_type_id=pt.hp_position_type_id 
		<if test="sid !=null and sid != ''">
			JOIN hp_position_ref_user pru1 ON p.hp_position_id=pru1.hp_position_id 
			LEFT JOIN hp_position_group pg ON pru1.hp_position_group_id=pg.hp_position_group_id 
			LEFT JOIN hp_user u1 ON pg.hp_user_id=u1.hp_user_id 
		</if>
		LEFT JOIN hp_position_require pr ON p.hp_position_id=pr.hp_position_id 
		WHERE p.start_time &lt;=#{curTime} AND p.end_time &gt;=#{curTime}  AND p.pos_state=1 AND p.del_on=0 
		<if test="hotOn != null ">AND p.hot_on=#{hotOn}</if>
		<if test="posNature != null ">AND p.pos_nature=#{posNature}</if>
		<if test="retOn != null ">AND p.ret_on=#{retOn}</if>
		<if test="welfareOn != null ">AND p.welfare_on=#{welfareOn}</if>
		<if test="urgentOn != null ">AND p.urgent_on=#{urgentOn}</if>
		<if test="groupOn != null ">AND p.group_on=#{groupOn}</if>
		<if test="cityName != null and cityName != '' ">AND aci.city_name LIKE CONCAT('%',#{cityName},'%')</if>
		<if test="keyWord !=null and keyWord !=''">
			AND (pt.type_name LIKE CONCAT('%',#{keyWord},'%') OR p.pos_name LIKE CONCAT('%',#{keyWord},'%') OR c.com_name LIKE CONCAT('%',#{keyWord},'%') )
		</if>
		<if test="sid !=null and sid != ''">
			AND pru1.hp_user_id=<include refid="getIdBySid"></include>
		</if>
		ORDER BY p.apply_time desc,p.hp_position_id desc
	</select>
	
	<select id="getBackPoslistPage" parameterType="com.happy.service.position.data.PositionSearch" resultType="com.happy.service.position.data.PositionData" >
		SELECT p.hp_position_id,p.hp_company_id,p.pos_name,p.pos_state,p.start_time,p.end_time,
		c.approve_state,c.com_name,p.hot_on 
		FROM hp_position p JOIN hp_company c ON p.hp_company_id=c.hp_company_id 
		WHERE 1=1  and p.del_on <![CDATA[!= ]]> 1
		<if test="posName != null and posName !='' ">AND p.pos_name LIKE CONCAT('%',#{posName},'%') </if>
		<if test="comName != null and comName !='' ">AND c.com_name LIKE CONCAT('%',#{comName},'%')</if>
		<if test="creatStartTime != null and creatStartTime!=0 ">AND p.apply_time &gt;=#{creatStartTime}</if>
		<if test="creatEndTime != null and creatEndTime !=0 ">AND p.apply_time &lt;=#{creatEndTime}</if>
		<choose>
			<when test="state == 1">AND p.start_time &lt;=#{curTime} AND p.end_time &gt;=#{curTime} </when>
			<when test="state == 4">AND p.end_time &lt;#{curTime}  </when>
		</choose>
		ORDER BY p.apply_time desc,p.hp_position_id desc 
	</select>
	
	
	<select id="getFrontPosByKey" resultType="com.happy.service.position.data.PositionData" >
		SELECT p.*,c.com_name,ps.lower_num,ps.hight_num,aco.county_name,aci.city_name,c.com_logo,<include refid="selectRequireCol"></include>,
		c.approve_state approveState,ct.type_name,cs.lower_num scale_lower,cs.hight_num scale_high,c.addr_detail,c.com_location,
		(SELECT GROUP_CONCAT(pw.welfare_name) FROM hp_position_ref_welfare prw JOIN hp_position_welfare pw 
         WHERE prw.hp_position_id=p.hp_position_id AND prw.hp_position_welfare_id=pw.hp_position_welfare_id) welfareArr
         <if test="sid !=null and sid != ''">
         	,(SELECT pru.hp_position_group_id FROM hp_position_ref_user pru WHERE pru.hp_position_id = p.hp_position_id 
         	AND pru.hp_user_id=<include refid="getIdBySid"></include> ORDER BY pru.hp_position_ref_user_id DESC LIMIT 1 ) hpPositionGroupId 
         </if>
           
		FROM hp_position p JOIN hp_company c ON p.hp_company_id=c.hp_company_id 
		JOIN hp_position_salary ps ON p.hp_position_salary_id=ps.hp_position_salary_id 
		JOIN hp_area_county aco ON p.county_id=aco.county_id 
		JOIN hp_area_city aci ON aco.city_id=aci.city_id 
		LEFT JOIN hp_position_require pr ON p.hp_position_id=pr.hp_position_id 
		LEFT JOIN hp_company_type ct ON c.hp_company_type_id=ct.hp_company_type_id 
		LEFT JOIN hp_company_scale cs ON c.hp_company_scale_id=cs.hp_company_scale_id 
		WHERE p.hp_position_id=#{hpPositionId} 
	</select>
	
	<sql id="selectRequireCol">pr.hp_position_require_id,pr.req_gender,pr.req_age,pr.req_education,pr.req_skill,pr.req_exp,pr.req_work_years,pr.req_other</sql>
	
	<select id="getPosNumBySearch" parameterType="com.happy.service.position.data.PositionSearch" resultType="int" >
		SELECT COUNT(DISTINCT pru.hp_position_id) FROM hp_position_ref_user pru JOIN hp_position p ON pru.hp_position_id=p.hp_position_id 
		WHERE 1=1 
		<if test="partType !=null and partType != 0"> AND pru.part_type=#{partType} </if>
		<if test="hpPositionId !=null"> AND pru.hp_position_id=#{hpPositionId} </if>
		<choose>
			<when test="state == 1">AND p.start_time &lt;=#{curTime} AND p.end_time &gt;=#{curTime} </when>
			<when test="state == 2">AND pru.work_on=1 </when>
			<when test="state == 4">AND p.end_time &lt;#{curTime}  </when>
		</choose>
		<if test="sid !=null and sid !=''">AND pru.hp_user_id=<include refid="getIdBySid"></include></if>
	</select>
	
	<select id="getGroupPosNumBySearch" parameterType="com.happy.service.position.data.PositionSearch" resultType="int" >
		SELECT COUNT(DISTINCT pg.hp_position_id) FROM hp_position_ref_user pru JOIN hp_position_group pg 
		ON pru.hp_position_group_id=pg.hp_position_group_id 
		WHERE pru.part_type=2 
		<if test="hpPositionId !=null"> AND pg.hp_position_id=#{hpPositionId} </if>
		<if test="hpPositionGroupId !=null"> AND pg.hp_position_group_id=#{hpPositionGroupId} </if>
		<choose>
			<when test="state == 1">AND pg.start_time &lt;=#{curTime} AND pg.end_time &gt;=#{curTime} </when>
			<when test="state == 2">AND pru.work_on=1 </when>
			<when test="state == 3">AND (SELECT COUNT(*) FROM hp_position_ref_user pru1 WHERE pru1.hp_position_group_id=pru.hp_position_group_id )>=3 </when>
			<when test="state == 4">AND p.end_time &lt;#{curTime} </when>
			<when test="state == 5">AND FROM_UNIXTIME(pru.part_time,'%Y-%m-%d')=FROM_UNIXTIME(#{curTime},'%Y-%m-%d') </when>
		</choose>
		<if test="sid !=null and sid !=''">AND pru.hp_user_id=<include refid="getIdBySid"></include></if>
	</select>
	
	<select id="getGroupListBySearch" parameterType="com.happy.service.position.data.GroupSearch" resultType="com.happy.service.position.data.GroupData" >
		SELECT pg.*,u.real_name leader_name,u.header_pic leader_pic,c.com_name,p.pos_name,ps.lower_num,ps.hight_num,
(SELECT COUNT(*) FROM hp_position_ref_user pru WHERE pru.hp_position_group_id=pg.hp_position_group_id) partNum,
(pg.end_time-#{curTime}) leftTime 
FROM  hp_company c JOIN hp_position p ON c.hp_company_id=p.hp_company_id 
JOIN hp_position_group pg ON p.hp_position_id=pg.hp_position_id 
LEFT JOIN hp_user u ON pg.hp_user_id=u.hp_user_id 
LEFT JOIN hp_position_salary ps ON p.hp_position_salary_id=ps.hp_position_salary_id 
WHERE p.hp_position_id=#{hpPositionId} AND p.group_on=1 AND p.del_on=0 AND pg.end_time>#{curTime} 
AND (SELECT COUNT(*) FROM hp_position_ref_user pru WHERE pru.hp_position_group_id=pg.hp_position_group_id) &lt;5 
ORDER BY pg.end_time,pg.hp_position_group_id desc 
<if test="isPage == 1">LIMIT #{currentResult},#{showCount}</if>
	</select>
	
	<select id="getGroupNumBySearch" parameterType="com.happy.service.position.data.GroupSearch" resultType="int" >
		SELECT COUNT(*) 
FROM hp_position p JOIN hp_position_group pg ON p.hp_position_id=pg.hp_position_id 
WHERE p.hp_position_id=#{hpPositionId} AND p.del_on=0 AND p.group_on=1 AND pg.end_time>#{curTime} 
AND (SELECT COUNT(*) FROM hp_position_ref_user pru WHERE pru.hp_position_group_id=pg.hp_position_group_id) &lt;3 
	</select>
	
	<resultMap type="com.happy.service.position.data.GroupData" id="GroupDataMap">
		<id column="hp_position_group_id" property="hpPositionGroupId"/>
		<result column="hp_position_id" property="hpPositionId"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="group_state" property="groupState"/>
		<result column="com_name" property="comName"/>
		<result column="pos_name" property="posName"/>
		<result column="lower_num" property="lowerNum"/>
		<result column="hight_num" property="hightNum"/>
		<result column="pos_com_desc" property="posComDesc"/>
		<result column="groupStatus" property="groupStatus"/>
		<result column="leftTime" property="leftTime"/>
		<result column="userIsPart" property="userIsPart"/>
		<result column="approve_state" property="comApproveState"/>
		<result column="com_logo" property="comLogo"/>
		<collection property="userList" javaType="java.util.List" ofType="com.happy.entity.HpUserEntity" >
			<id column="hp_user_id" property="hpUserId"/>
			<result column="header_pic" property="headerPic"/>
		</collection>
		
	</resultMap>
	
	<select id="getGroupDetail" resultMap="GroupDataMap" >
		SELECT pg.hp_position_group_id,pg.hp_position_id,pg.start_time,pg.end_time,
		c.com_name,p.pos_name,c.com_logo,pru.hp_user_id,u.header_pic,ps.lower_num,ps.hight_num,
		p.pos_com_desc,CASE WHEN pg.end_time &lt;#{curTime} THEN 1 ELSE 0 END groupStatus,
		(pg.end_time-#{curTime}) leftTime,c.approve_state,
		<choose>
			<when test="sid != null and sid !=''">
		IF((SELECT COUNT(*) FROM hp_position_ref_user pru1 WHERE pru1.hp_user_id=<include refid="getIdBySid"></include> AND pru1.hp_position_group_id=pg.hp_position_group_id )>0,1,0) userIsPart    
			</when>
			<otherwise>
				0 userIsPart
			</otherwise>
		</choose>
		
		FROM hp_company c JOIN hp_position p ON c.hp_company_id=p.hp_company_id 
		JOIN hp_position_group pg ON p.hp_position_id=pg.hp_position_id 
		JOIN hp_position_ref_user pru ON pg.hp_position_group_id=pru.hp_position_group_id 
		JOIN hp_user u ON pru.hp_user_id=u.hp_user_id 
		LEFT JOIN hp_position_salary ps ON p.hp_position_salary_id=ps.hp_position_salary_id 
		WHERE pg.hp_position_group_id=#{hpPositionGroupId} 
	</select>
	
	<select id="getSimplePosByKey" resultType="com.happy.entity.HpPositionEntity" >
		SELECT p.hp_position_id,p.start_time,p.end_time,p.group_on,p.del_on 
		FROM hp_position p WHERE p.hp_position_id=#{hpPositionId}
	</select>
	
	<select id="getGroupPartNum" resultType="int" >
		SELECT COUNT(*) FROM hp_position_ref_user pru WHERE pru.hp_position_group_id=#{hpPositionGroupId}
	</select>
	
	<select id="getPosDetailByKey" resultType="com.happy.service.position.data.PositionDetail" >
		SELECT p.*,c.hp_company_id,c.com_name,<include refid="selectRequireCol"></include>,
		(SELECT GROUP_CONCAT(pw.hp_position_welfare_id) FROM hp_position_ref_welfare prw JOIN hp_position_welfare pw 
         WHERE prw.hp_position_id=p.hp_position_id AND prw.hp_position_welfare_id=pw.hp_position_welfare_id) welfareArr,
         aco.county_id,aco.county_name,aci.city_id,aci.city_name,ap.province_id,ap.province_name  
         
		FROM hp_position p JOIN hp_company c ON p.hp_company_id=c.hp_company_id 
		LEFT JOIN hp_position_salary ps ON p.hp_position_salary_id=ps.hp_position_salary_id 
		LEFT JOIN hp_area_county aco ON p.county_id=aco.county_id 
		LEFT JOIN hp_area_city aci ON aco.city_id=aci.city_id 
		LEFT JOIN hp_area_province ap ON aci.province_id=ap.province_id 
		LEFT JOIN hp_position_require pr ON p.hp_position_id=pr.hp_position_id 
		WHERE p.hp_position_id=#{hpPositionId} 
	</select>
	
	<delete id="deleteGroupWelfare" >
		DELETE FROM hp_position_ref_welfare WHERE hp_position_ref_welfare.hp_position_id=#{hpPositionId}
	</delete>
	
	<insert id="insertGroupWelfare" >
		INSERT INTO hp_position_ref_welfare(hp_position_id,hp_position_welfare_id) 
		VALUES 
		<foreach collection="list" open="(" close=")" separator="),(" item="item" >
			#{hpPositionId},#{item}
		</foreach>
	</insert>
	
	<select id="getPositionRequireId" resultType="Long" >
		SELECT pr.hp_position_require_id FROM hp_position_require pr WHERE pr.hp_position_id=#{hpPositionId} LIMIT 1
	</select>
	
	<select id="getPosNameByGroupKey" resultType="String" >
		SELECT p.pos_name 
		FROM hp_position_group gp JOIN hp_position p ON gp.hp_position_id=p.hp_position_id 
		WHERE pr.hp_position_group_id=#{hpPositionGroupId}
	</select>
	
</mapper>
