<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlExMapper.HpUserExMapper">
	
	<sql id="getIdBySid">(SELECT u.hp_user_id FROM hp_user u WHERE u.user_token=#{sid})</sql>
	
	<select id="getTokenByUserId" resultType="String" >
		SELECT u.user_token FROM hp_user u WHERE u.hp_user_id=#{hpUserId};
	</select>
	
	<select id="getUserByToken" resultType="com.happy.service.user.data.UserSimpleData" >
		SELECT u.* FROM hp_user u WHERE u.user_token=#{sid};
	</select>
	
	<select id="getSimpleUserByKey" resultType="com.happy.service.user.data.UserSimpleData" >
		SELECT u.hp_user_id,u.user_token,u.share_token,u.phone_no,u.approve_state,u.black_on,
		u.user_name,u.header_pic,u.gender,u.approve_num,ur.hp_user_resume_id 
		FROM hp_user u 
		LEFT JOIN hp_user_resume ur ON u.hp_user_id=ur.hp_user_id
		WHERE 1=1 
		<if test="hpUserId !=null and hpUserId !=0"> AND u.hp_user_id=#{hpUserId}</if>
		<if test="sid !=null and sid !=''"> AND u.user_token=#{sid}</if>
	</select>
	
	<select id="getIdByShareToken" resultType="Long" >
		SELECT u.hp_user_id FROM hp_user u WHERE u.share_token=#{shareToken};
	</select>
	
	<select id="getUserIdBySid" resultType="Long" >
		SELECT u.hp_user_id FROM hp_user u WHERE u.user_token=#{sid};
	</select>
	
	
	<select id="getUserlistPage" parameterType="com.happy.service.user.data.UserManageSearch" resultType="com.happy.service.user.data.UserSimpleData" >
		SELECT u.hp_user_id,u.hp_company_id,u.user_type,u.user_name,u.gender,u.phone_no,u.born_year,u.real_name,u.black_on,
		u.approve_state,u.header_pic,u.id_num,u.id_front_pic,u.id_back_pic,u.id_person_pic,u.create_time,u.regist_resource,
		u.invite_user_id,u.user_money,u.approve_num,u.vip_on,u.login_time,u.login_ip,c.com_name,cs.store_name 
		FROM hp_user u LEFT JOIN hp_company c ON u.hp_company_id=c.hp_company_id 
		LEFT JOIN hp_company_store cs ON u.hp_company_store_id=cs.hp_company_store_id 
		WHERE 1=1 
		<if test="phoneNo !=null and phoneNo !='' ">AND u.phone_no LIKE CONCAT('%',#{phoneNo},'%')</if>
		<if test="resource !=null and resource !=0 ">AND u.regist_resource=#{resource}</if>
		<if test="startTime !=null and startTime !=0 ">AND u.create_time &gt;=#{startTime}</if>
		<if test="endTime !=null and endTime !=0 ">AND u.create_time &lt;=#{endTime}</if>
		<if test="blackOn !=null ">AND u.black_on=#{blackOn}</if>
		<if test="userType !=null ">AND u.user_type=#{userType}</if>
		ORDER BY create_time desc
	</select>
	
	<select id="getUserByParam" resultType="com.happy.service.user.data.OtherUserData" >
		SELECT u.hp_user_id,ub.hp_user_bound_id,u.user_token,ub.bound_token,u.password,u.header_pic,u.share_token 
		FROM hp_user u LEFT JOIN hp_user_bound ub ON u.hp_user_id=ub.hp_user_id 
		WHERE u.user_type=#{userType} 
		<if test="phoneNo !=null and phoneNo !=''"> AND u.phone_no=#{phoneNo}</if>
		<if test="userName !=null and userName !=''"> AND u.user_name=#{userName}</if>
		LIMIT 1;
	</select>
	
	
	<select id="getUserResumeId" resultType="Long" >
		SELECT ur.hp_user_resume_id FROM hp_user_resume ur WHERE ur.hp_user_id=<include refid="getIdBySid"></include>
		ORDER BY ur.res_time DESC
	</select>
	
	
	<select id="getUserEduByResumeId" resultType="com.happy.service.user.data.UserEduDate" >
		SELECT ue.*,e.edu_name FROM hp_user_education ue LEFT JOIN hp_education e ON ue.hp_education_id=e.hp_education_id
	WHERE ue.hp_user_resume_id=#{hpResumeId}
	</select>
	<select id="getUserIntendByResumeId" resultType="com.happy.service.user.data.UserIntentionData" >
		SELECT ui.*,ps.lower_num,ps.hight_num FROM hp_user_intention ui LEFT JOIN hp_position_salary ps ON ui.hp_position_salary_id=ps.hp_position_salary_id
	WHERE ui.hp_user_resume_id=#{hpResumeId}
	</select>
	<select id="getUserExpByResumeId" resultType="com.happy.entity.HpUserExpEntity" >
		SELECT ue.* FROM hp_user_exp ue WHERE ue.hp_user_resume_id=#{hpResumeId}
	</select>
	<select id="getUserResumBySid" resultType="com.happy.entity.HpUserResumeEntity" >
		SELECT ur.* FROM hp_user_resume ur WHERE ur.hp_user_id=<include refid="getIdBySid"></include>
	</select>
	
	<select id="getUserRealByphone" resultType="com.happy.service.user.data.UserSimpleData" >
		SELECT u.hp_user_id,u.id_num,u.real_name FROM hp_user u WHERE u.phone_no=#{phoneNo} AND u.user_type=2 limit 1
	</select>
	
	<select id="getPayrollByIdNum" resultType="com.happy.entity.HpUserPayrollEntity" >
		SELECT up.* FROM hp_user_payroll up WHERE up.pay_id_num=#{idNum} AND up.pay_time=#{time} ORDER BY up.hp_user_payroll_id DESC LIMIT 1
	</select>
	
	
</mapper>
