<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlExMapper.HpUserBoundExMapper">
	
	<sql id="getIdByOid">(SELECT ub.hp_user_bound_id FROM hp_user_bound ub WHERE ub.bound_token=#{oid})</sql>
	
	<select id="getBoundByToken" resultType="com.happy.entity.HpUserBoundEntity" >
		SELECT ub.* FROM hp_user_bound ub WHERE ub.bound_token=#{oid};
	</select>
	
	<select id="getBoundIdByToken" resultType="Long" >
		SELECT ub.hp_user_bound_id FROM hp_user_bound ub WHERE ub.bound_token=#{oid};
	</select>
	
	<select id="getBoundByOpenId" resultType="com.happy.entity.HpUserBoundEntity" >
		SELECT ub.* FROM hp_user_bound ub WHERE ub.openid=#{openId};
	</select>
	
	<select id="getUserSearchList" parameterType="com.happy.service.user.data.UserSearch" resultType="com.happy.entity.HpUserSearchEntity" >
		SELECT us.* FROM hp_user_search us 
		WHERE 1=1
		<if test="oid !=null and oid !='' ">AND us.hp_user_bound_id=<include refid="getIdByOid"></include></if>
		<if test="delOn !=null ">AND us.del_on=#{delOn} </if>
		<if test="keyWord !=null and keyWord !='' ">AND us.content=#{keyWord} </if>
		ORDER BY us.time DESC,us.num DESC 
		<if test="isPage == 1">
			LiMIT #{currentResult},#{showCount}
		</if>
	</select>
	
	<select id="getUserSearchNum" parameterType="com.happy.service.user.data.UserSearch" resultType="int" >
		SELECT COUNT(*) FROM hp_user_search us 
		WHERE 1=1
		<if test="oid !=null and oid !='' ">AND us.hp_user_bound_id=<include refid="getIdByOid"></include></if>
		<if test="delOn !=null ">AND us.del_on=#{delOn} </if>
		<if test="keyWord !=null and keyWord !='' ">AND us.content=#{keyWord} </if>
	</select>
	
	<update id="updateUserSearchDel" >
		UPDATE hp_user_search us SET us.del_on=1 
		WHERE us.hp_user_bound_id=<include refid="getIdByOid"></include> 
		<if test="hpUserSearchId !=null and hpUserSearchId !=0 ">AND us.hp_user_search_id=#{hpUserSearchId}</if>
	</update>
	
	<select id="getRecdByOid" resultType="com.happy.entity.HpUserRecommendEntity" >
		SELECT ur.* FROM hp_user_recommend ur WHERE ur.hp_user_bound_id=<include refid="getIdByOid"></include> limit 1
	</select>
	
	<select id="getRecdByPhoneNo" resultType="com.happy.entity.HpUserRecommendEntity" >
		SELECT ur.* FROM hp_user_recommend ur WHERE ur.rec_phone_no=#{phoneNo} limit 1
	</select>
	
	<select id="getRecdByUserId" resultType="com.happy.entity.HpUserRecommendEntity" >
		SELECT ur.* 
		FROM hp_user u JOIN hp_user_recommend ur 
		WHERE u.hp_user_id=#{hpUserId} AND ur.rec_phone_no=u.phone_no limit 1
	</select>
	
	<select id="getSessionKey" resultType="String" >
		SELECT ub.session_key FROM hp_user_bound ub WHERE ub.bound_token=#{oid};
	</select>
</mapper>
