<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HappyAreaCountyMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HappyAreaCountyEntity">
		<result column="hp_county_id" property="hpCountyId"/>
		<result column="hp_city_id" property="hpCityId"/>
		<result column="country_code" property="countryCode"/>
		<result column="county_name" property="countyName"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpCountyId" parameterType="com.happy.entity.HappyAreaCountyEntity">
		insert into happy_area_county(hp_city_id,country_code,county_name)
		 values (#{hpCityId},#{countryCode},#{countyName});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from happy_area_county where hp_county_id=#{hpCountyId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from happy_area_county
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from happy_area_county
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HappyAreaCountyEntity">
		update happy_area_county
		<set>
			<if test="hpCityId!=null ">
				hp_city_id=#{hpCityId},
			</if>
			<if test="countryCode!=null">
				country_code=#{countryCode},
			</if>
			<if test="countyName!=null">
				county_name=#{countyName},
			</if>
		</set>
		 where hp_county_id=#{hpCountyId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from happy_area_county where hp_county_id=#{hpCountyId}
	</delete>
</mapper>
