<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HappyCompanyScaleMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HappyCompanyScaleEntity">
		<result column="happy_company_scale_id" property="happyCompanyScaleId"/>
		<result column="lower_num" property="lowerNum"/>
		<result column="hight_num" property="hightNum"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="happyCompanyScaleId" parameterType="com.happy.entity.HappyCompanyScaleEntity">
		insert into happy_company_scale(lower_num,hight_num)
		 values (#{lowerNum},#{hightNum});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from happy_company_scale where happy_company_scale_id=#{happyCompanyScaleId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from happy_company_scale
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from happy_company_scale
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HappyCompanyScaleEntity">
		update happy_company_scale
		<set>
			<if test="lowerNum!=null ">
				lower_num=#{lowerNum},
			</if>
			<if test="hightNum!=null ">
				hight_num=#{hightNum},
			</if>
		</set>
		 where happy_company_scale_id=#{happyCompanyScaleId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from happy_company_scale where happy_company_scale_id=#{happyCompanyScaleId}
	</delete>
</mapper>
