<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HappyAreaCityMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HappyAreaCityEntity">
		<result column="hp_city_id" property="hpCityId"/>
		<result column="hp_province_id" property="hpProvinceId"/>
		<result column="city_code" property="cityCode"/>
		<result column="city_name" property="cityName"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpCityId" parameterType="com.happy.entity.HappyAreaCityEntity">
		insert into happy_area_city(hp_province_id,city_code,city_name)
		 values (#{hpProvinceId},#{cityCode},#{cityName});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from happy_area_city where hp_city_id=#{hpCityId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from happy_area_city
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from happy_area_city
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HappyAreaCityEntity">
		update happy_area_city
		<set>
			<if test="hpProvinceId!=null ">
				hp_province_id=#{hpProvinceId},
			</if>
			<if test="cityCode!=null">
				city_code=#{cityCode},
			</if>
			<if test="cityName!=null">
				city_name=#{cityName},
			</if>
		</set>
		 where hp_city_id=#{hpCityId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from happy_area_city where hp_city_id=#{hpCityId}
	</delete>
</mapper>
