<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpAdvBannerMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpAdvBannerEntity">
		<result column="hp_adv_banner_id" property="hpAdvBannerId"/>
		<result column="title" property="title"/>
		<result column="create_time" property="createTime"/>
		<result column="end_time" property="endTime"/>
		<result column="sort_num" property="sortNum"/>
		<result column="pic_url" property="picUrl"/>
		<result column="target_url" property="targetUrl"/>
		<result column="use_on" property="useOn"/>
		<result column="del_on" property="delOn"/>
		<result column="pos_type" property="posType"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpAdvBannerId" parameterType="com.happy.entity.HpAdvBannerEntity">
		insert into hp_adv_banner(title,create_time,end_time,sort_num,pic_url,target_url,use_on,del_on,pos_type)
		 values (#{title},#{createTime},#{endTime},#{sortNum},#{picUrl},#{targetUrl},#{useOn},#{delOn},#{posType});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_adv_banner where hp_adv_banner_id=#{hpAdvBannerId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_adv_banner
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_adv_banner
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpAdvBannerEntity">
		update hp_adv_banner
		<set>
			<if test="title!=null">
				title=#{title},
			</if>
			<if test="createTime!=null ">
				create_time=#{createTime},
			</if>
			<if test="endTime!=null ">
				end_time=#{endTime},
			</if>
			<if test="sortNum!=null ">
				sort_num=#{sortNum},
			</if>
			<if test="picUrl!=null">
				pic_url=#{picUrl},
			</if>
			<if test="targetUrl!=null">
				target_url=#{targetUrl},
			</if>
			<if test="useOn!=null ">
				use_on=#{useOn},
			</if>
			<if test="delOn!=null ">
				del_on=#{delOn},
			</if>
			<if test="posType!=null ">
				pos_type=#{posType},
			</if>
		</set>
		 where hp_adv_banner_id=#{hpAdvBannerId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_adv_banner where hp_adv_banner_id=#{hpAdvBannerId}
	</delete>
</mapper>
