<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpCompanyApplyMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpCompanyApplyEntity">
		<result column="hp_company_apply_id" property="hpCompanyApplyId"/>
		<result column="name" property="name"/>
		<result column="com_name" property="comName"/>
		<result column="contact_num" property="contactNum"/>
		<result column="position" property="position"/>
		<result column="contact_on" property="contactOn"/>
		<result column="option_person" property="optionPerson"/>
		<result column="option_time" property="optionTime"/>
		<result column="del_on" property="delOn"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpCompanyApplyId" parameterType="com.happy.entity.HpCompanyApplyEntity">
		insert into hp_company_apply(name,com_name,contact_num,position,contact_on,option_person,option_time,del_on)
		 values (#{name},#{comName},#{contactNum},#{position},#{contactOn},#{optionPerson},#{optionTime},#{delOn});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_company_apply where hp_company_apply_id=#{hpCompanyApplyId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_company_apply
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_company_apply
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpCompanyApplyEntity">
		update hp_company_apply
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="comName!=null">
				com_name=#{comName},
			</if>
			<if test="contactNum!=null">
				contact_num=#{contactNum},
			</if>
			<if test="position!=null">
				position=#{position},
			</if>
			<if test="contactOn!=null ">
				contact_on=#{contactOn},
			</if>
			<if test="optionPerson!=null">
				option_person=#{optionPerson},
			</if>
			<if test="optionTime!=null ">
				option_time=#{optionTime},
			</if>
			<if test="delOn!=null ">
				del_on=#{delOn},
			</if>
		</set>
		 where hp_company_apply_id=#{hpCompanyApplyId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_company_apply where hp_company_apply_id=#{hpCompanyApplyId}
	</delete>
</mapper>
