<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpPositionGroupMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpPositionGroupEntity">
		<result column="hp_position_group_id" property="hpPositionGroupId"/>
		<result column="hp_position_id" property="hpPositionId"/>
		<result column="hp_user_id" property="hpUserId"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="group_state" property="groupState"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpPositionGroupId" parameterType="com.happy.entity.HpPositionGroupEntity">
		insert into hp_position_group(hp_position_id,hp_user_id,start_time,end_time,group_state)
		 values (#{hpPositionId},#{hpUserId},#{startTime},#{endTime},#{groupState});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_position_group where hp_position_group_id=#{hpPositionGroupId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_position_group
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_position_group
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpPositionGroupEntity">
		update hp_position_group
		<set>
			<if test="hpPositionId!=null ">
				hp_position_id=#{hpPositionId},
			</if>
			<if test="hpUserId!=null ">
				hp_user_id=#{hpUserId},
			</if>
			<if test="startTime!=null ">
				start_time=#{startTime},
			</if>
			<if test="endTime!=null ">
				end_time=#{endTime},
			</if>
			<if test="groupState!=null ">
				group_state=#{groupState},
			</if>
		</set>
		 where hp_position_group_id=#{hpPositionGroupId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_position_group where hp_position_group_id=#{hpPositionGroupId}
	</delete>
</mapper>
