<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpPositionRefUserMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpPositionRefUserEntity">
		<result column="hp_position_ref_user_id" property="hpPositionRefUserId"/>
		<result column="hp_position_group_id" property="hpPositionGroupId"/>
		<result column="hp_position_id" property="hpPositionId"/>
		<result column="leader_on" property="leaderOn"/>
		<result column="part_time" property="partTime"/>
		<result column="part_type" property="partType"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpPositionRefUserId" parameterType="com.happy.entity.HpPositionRefUserEntity">
		insert into hp_position_ref_user(hp_position_group_id,hp_position_id,leader_on,part_time,part_type)
		 values (#{hpPositionGroupId},#{hpPositionId},#{leaderOn},#{partTime},#{partType});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_position_ref_user where hp_position_ref_user_id=#{hpPositionRefUserId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_position_ref_user
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_position_ref_user
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpPositionRefUserEntity">
		update hp_position_ref_user
		<set>
			<if test="hpPositionGroupId!=null ">
				hp_position_group_id=#{hpPositionGroupId},
			</if>
			<if test="hpPositionId!=null ">
				hp_position_id=#{hpPositionId},
			</if>
			<if test="leaderOn!=null ">
				leader_on=#{leaderOn},
			</if>
			<if test="partTime!=null ">
				part_time=#{partTime},
			</if>
			<if test="partType!=null ">
				part_type=#{partType},
			</if>
		</set>
		 where hp_position_ref_user_id=#{hpPositionRefUserId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_position_ref_user where hp_position_ref_user_id=#{hpPositionRefUserId}
	</delete>
</mapper>
