<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpPositionOfferMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpPositionOfferEntity">
		<result column="hp_position_offer_id" property="hpPositionOfferId"/>
		<result column="type_name" property="typeName"/>
		<result column="use_on" property="useOn"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpPositionOfferId" parameterType="com.happy.entity.HpPositionOfferEntity">
		insert into hp_position_offer(type_name,use_on)
		 values (#{typeName},#{useOn});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_position_offer where hp_position_offer_id=#{hpPositionOfferId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_position_offer
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_position_offer
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpPositionOfferEntity">
		update hp_position_offer
		<set>
			<if test="typeName!=null">
				type_name=#{typeName},
			</if>
			<if test="useOn!=null ">
				use_on=#{useOn},
			</if>
		</set>
		 where hp_position_offer_id=#{hpPositionOfferId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_position_offer where hp_position_offer_id=#{hpPositionOfferId}
	</delete>
</mapper>
