<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpPositionMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpPositionEntity">
		<result column="hp_position_id" property="hpPositionId"/>
		<result column="hp_company_id" property="hpCompanyId"/>
		<result column="hp_position_offer_id" property="hpPositionOfferId"/>
		<result column="hp_position_require_id" property="hpPositionRequireId"/>
		<result column="county_id" property="countyId"/>
		<result column="hp_position_salary_id" property="hpPositionSalaryId"/>
		<result column="hp_education_id" property="hpEducationId"/>
		<result column="pos_name" property="posName"/>
		<result column="ret_man_money" property="retManMoney"/>
		<result column="man_day_num" property="manDayNum"/>
		<result column="ret_woman_money" property="retWomanMoney"/>
		<result column="women_day_num" property="womenDayNum"/>
		<result column="urgent_on" property="urgentOn"/>
		<result column="urgent_money" property="urgentMoney"/>
		<result column="group_on" property="groupOn"/>
		<result column="three_money" property="threeMoney"/>
		<result column="five_money" property="fiveMoney"/>
		<result column="welfare_on" property="welfareOn"/>
		<result column="welfare_detail" property="welfareDetail"/>
		<result column="job_hours" property="jobHours"/>
		<result column="com_cust_phone" property="comCustPhone"/>
		<result column="pos_type" property="posType"/>
		<result column="pos_detail" property="posDetail"/>
		<result column="car_on" property="carOn"/>
		<result column="car_desc" property="carDesc"/>
		<result column="pos_com_desc" property="posComDesc"/>
		<result column="other_welfare" property="otherWelfare"/>
		<result column="pos_nature" property="posNature"/>
		<result column="pos_work_year" property="posWorkYear"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="pos_num" property="posNum"/>
		<result column="pos_person" property="posPerson"/>
		<result column="pos_phone" property="posPhone"/>
		<result column="pos_email" property="posEmail"/>
		<result column="hot_on" property="hotOn"/>
		<result column="ret_on" property="retOn"/>
		<result column="apply_time" property="applyTime"/>
		<result column="pos_state" property="posState"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpPositionId" parameterType="com.happy.entity.HpPositionEntity">
		insert into hp_position(hp_company_id,hp_position_offer_id,hp_position_require_id,county_id,hp_position_salary_id,hp_education_id,pos_name,ret_man_money,man_day_num,ret_woman_money,women_day_num,urgent_on,urgent_money,group_on,three_money,five_money,welfare_on,welfare_detail,job_hours,com_cust_phone,pos_type,pos_detail,car_on,car_desc,pos_com_desc,other_welfare,pos_nature,pos_work_year,start_time,end_time,pos_num,pos_person,pos_phone,pos_email,hot_on,ret_on,apply_time,pos_state)
		 values (#{hpCompanyId},#{hpPositionOfferId},#{hpPositionRequireId},#{countyId},#{hpPositionSalaryId},#{hpEducationId},#{posName},#{retManMoney},#{manDayNum},#{retWomanMoney},#{womenDayNum},#{urgentOn},#{urgentMoney},#{groupOn},#{threeMoney},#{fiveMoney},#{welfareOn},#{welfareDetail},#{jobHours},#{comCustPhone},#{posType},#{posDetail},#{carOn},#{carDesc},#{posComDesc},#{otherWelfare},#{posNature},#{posWorkYear},#{startTime},#{endTime},#{posNum},#{posPerson},#{posPhone},#{posEmail},#{hotOn},#{retOn},#{applyTime},#{posState});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_position where hp_position_id=#{hpPositionId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_position
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_position
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpPositionEntity">
		update hp_position
		<set>
			<if test="hpCompanyId!=null ">
				hp_company_id=#{hpCompanyId},
			</if>
			<if test="hpPositionOfferId!=null ">
				hp_position_offer_id=#{hpPositionOfferId},
			</if>
			<if test="hpPositionRequireId!=null ">
				hp_position_require_id=#{hpPositionRequireId},
			</if>
			<if test="countyId!=null ">
				county_id=#{countyId},
			</if>
			<if test="hpPositionSalaryId!=null ">
				hp_position_salary_id=#{hpPositionSalaryId},
			</if>
			<if test="hpEducationId!=null ">
				hp_education_id=#{hpEducationId},
			</if>
			<if test="posName!=null">
				pos_name=#{posName},
			</if>
			<if test="retManMoney!=null ">
				ret_man_money=#{retManMoney},
			</if>
			<if test="manDayNum!=null ">
				man_day_num=#{manDayNum},
			</if>
			<if test="retWomanMoney!=null ">
				ret_woman_money=#{retWomanMoney},
			</if>
			<if test="womenDayNum!=null ">
				women_day_num=#{womenDayNum},
			</if>
			<if test="urgentOn!=null ">
				urgent_on=#{urgentOn},
			</if>
			<if test="urgentMoney!=null ">
				urgent_money=#{urgentMoney},
			</if>
			<if test="groupOn!=null ">
				group_on=#{groupOn},
			</if>
			<if test="threeMoney!=null ">
				three_money=#{threeMoney},
			</if>
			<if test="fiveMoney!=null ">
				five_money=#{fiveMoney},
			</if>
			<if test="welfareOn!=null ">
				welfare_on=#{welfareOn},
			</if>
			<if test="welfareDetail!=null">
				welfare_detail=#{welfareDetail},
			</if>
			<if test="jobHours!=null">
				job_hours=#{jobHours},
			</if>
			<if test="comCustPhone!=null">
				com_cust_phone=#{comCustPhone},
			</if>
			<if test="posType!=null">
				pos_type=#{posType},
			</if>
			<if test="posDetail!=null">
				pos_detail=#{posDetail},
			</if>
			<if test="carOn!=null ">
				car_on=#{carOn},
			</if>
			<if test="carDesc!=null">
				car_desc=#{carDesc},
			</if>
			<if test="posComDesc!=null">
				pos_com_desc=#{posComDesc},
			</if>
			<if test="otherWelfare!=null">
				other_welfare=#{otherWelfare},
			</if>
			<if test="posNature!=null ">
				pos_nature=#{posNature},
			</if>
			<if test="posWorkYear!=null">
				pos_work_year=#{posWorkYear},
			</if>
			<if test="startTime!=null ">
				start_time=#{startTime},
			</if>
			<if test="endTime!=null ">
				end_time=#{endTime},
			</if>
			<if test="posNum!=null ">
				pos_num=#{posNum},
			</if>
			<if test="posPerson!=null">
				pos_person=#{posPerson},
			</if>
			<if test="posPhone!=null">
				pos_phone=#{posPhone},
			</if>
			<if test="posEmail!=null">
				pos_email=#{posEmail},
			</if>
			<if test="hotOn!=null ">
				hot_on=#{hotOn},
			</if>
			<if test="retOn!=null ">
				ret_on=#{retOn},
			</if>
			<if test="applyTime!=null ">
				apply_time=#{applyTime},
			</if>
			<if test="posState!=null ">
				pos_state=#{posState},
			</if>
		</set>
		 where hp_position_id=#{hpPositionId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_position where hp_position_id=#{hpPositionId}
	</delete>
</mapper>
