<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpUserRecommendMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpUserRecommendEntity">
		<result column="hp_user_recommend_id" property="hpUserRecommendId"/>
		<result column="hp_user_id" property="hpUserId"/>
		<result column="rec_phone_no" property="recPhoneNo"/>
		<result column="rec_time" property="recTime"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpUserRecommendId" parameterType="com.happy.entity.HpUserRecommendEntity">
		insert into hp_user_recommend(hp_user_id,rec_phone_no,rec_time)
		 values (#{hpUserId},#{recPhoneNo},#{recTime});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_user_recommend where hp_user_recommend_id=#{hpUserRecommendId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_user_recommend
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_user_recommend
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpUserRecommendEntity">
		update hp_user_recommend
		<set>
			<if test="hpUserId!=null ">
				hp_user_id=#{hpUserId},
			</if>
			<if test="recPhoneNo!=null">
				rec_phone_no=#{recPhoneNo},
			</if>
			<if test="recTime!=null ">
				rec_time=#{recTime},
			</if>
		</set>
		 where hp_user_recommend_id=#{hpUserRecommendId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_user_recommend where hp_user_recommend_id=#{hpUserRecommendId}
	</delete>
</mapper>
