<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpUserSearchMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpUserSearchEntity">
		<result column="hp_user_search_id" property="hpUserSearchId"/>
		<result column="hp_user_id" property="hpUserId"/>
		<result column="content" property="content"/>
		<result column="time" property="time"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpUserSearchId" parameterType="com.happy.entity.HpUserSearchEntity">
		insert into hp_user_search(hp_user_id,content,time)
		 values (#{hpUserId},#{content},#{time});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_user_search where hp_user_search_id=#{hpUserSearchId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_user_search
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_user_search
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpUserSearchEntity">
		update hp_user_search
		<set>
			<if test="hpUserId!=null ">
				hp_user_id=#{hpUserId},
			</if>
			<if test="content!=null">
				content=#{content},
			</if>
			<if test="time!=null ">
				time=#{time},
			</if>
		</set>
		 where hp_user_search_id=#{hpUserSearchId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_user_search where hp_user_search_id=#{hpUserSearchId}
	</delete>
</mapper>
