<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.sqlMapper.HpUserEducationMapper">
	<resultMap id="BaseResultMap" type="com.happy.entity.HpUserEducationEntity">
		<result column="hp_user_education_id" property="hpUserEducationId"/>
		<result column="hp_user_resume_id" property="hpUserResumeId"/>
		<result column="hp_education_id" property="hpEducationId"/>
		<result column="sch_name" property="schName"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="hpUserEducationId" parameterType="com.happy.entity.HpUserEducationEntity">
		insert into hp_user_education(hp_user_resume_id,hp_education_id,sch_name,start_time,end_time)
		 values (#{hpUserResumeId},#{hpEducationId},#{schName},#{startTime},#{endTime});
	</insert>
	<select id="selectByPK" resultMap="BaseResultMap" parameterType="long">
		select * from hp_user_education where hp_user_education_id=#{hpUserEducationId}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" >
		select * from hp_user_education
	</select>
	<select id="selectAllIsUse" resultMap="BaseResultMap" >
		select * from hp_user_education
	</select>
	<update id="updateByPK" parameterType="com.happy.entity.HpUserEducationEntity">
		update hp_user_education
		<set>
			<if test="hpUserResumeId!=null ">
				hp_user_resume_id=#{hpUserResumeId},
			</if>
			<if test="hpEducationId!=null ">
				hp_education_id=#{hpEducationId},
			</if>
			<if test="schName!=null">
				sch_name=#{schName},
			</if>
			<if test="startTime!=null ">
				start_time=#{startTime},
			</if>
			<if test="endTime!=null ">
				end_time=#{endTime},
			</if>
		</set>
		 where hp_user_education_id=#{hpUserEducationId}
	</update>
	<delete id="deleteByPK"  parameterType="long">
		delete from hp_user_education where hp_user_education_id=#{hpUserEducationId}
	</delete>
</mapper>
